body{
    background-color: lightgray;
    font-family: sans-serif;
}
.container{
    width: 500px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    margin-top: 70px;
    padding: 25px 0;
    box-sizing: border-box;
    box-shadow: 0 0 15px #252625;
}
.logo{
    width: 130px;
    display: block;
    margin: 0.5px auto;
    border: 2px dotted gray;
    border-radius: 50%;
}
.name{
    font-size: 25px;
    margin: 2px auto;
    width: 98px;
    border-bottom:  5px solid lightgray;
    color: #252625;
}
.title{
    width: 160px;
    margin: 2px auto;
    font-size: 25px;
    border-bottom: 5px solid lightgray;
    color: #252625;
}
.desc{
    text-align: center;
    color: #252625;
}
.socials{
    height: 60px;
    background-color: lightgray;
    text-align: center;
}
.socials img{
    width: 40px;
    margin: 10px;
}